*{

  text-decoration: none;
  text-align: center;
}
.navbar{
  text-align: right;
  background:#26348b ;
  padding: 0  ;
  margin: 0;
}
.navbar li{
  display: inline-block;
  padding: 10px 5px;
}
.navbar-link{
  color:white;
  text-decoration: none;
}
.navbar-link:hover{
  color:crimson;
  text-decoration: underline;
}
.navbar .active{
  color: cadetblue;
}